/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    color: #eee;
}
body{
    width: 100%;
    height: 100%;
    background: url("./images/background1.jpg") no-repeat center fixed;
    background-size:cover;
}

.ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .li {
    list-style: none;
  }
  
  .lie{
    font-size: 4.5vh;
    justify-content:center;
    align-content:center;
    color: #fff;
    margin-top: 2vh;
}

.a {
    position: relative; 
    display: block;
    width: 9vh;
    height: 9vh;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  .a img{
      width: 6vh;
      height: 6vh;
      margin-top: 2vh;
  }
 .a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #c42525;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
    content: "";
}
.vtext{
    visibility: hidden;
}  
.vtext:hover{
    visibility: visible;
}
  .a:hover::before {
    
    transform: scale(1.1);
    box-shadow: 0 0 15px #c42525;
  }
  
  .a:hover {
    box-shadow: 0 0 5px #c42525;
    /* text-shadow: 0 0 5px #c42525; */
  }

.a .git{
    width: 10vh;
    height: 9vh;
    margin-top: 0;
    margin-left:-0.7vh;
}
.a .git1{
    width: 7vh;
    height: 7vh;
    margin-top: 0;
}

  .button1{
    background:linear-gradient(to top, #661616, #a84e4e);
  border: none;
  color: white;
  padding:2vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4vh;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1.hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(168, 155, 155, 0.19);
}

section{
    padding: 0  6% 6% 6%;
}

a{
    text-decoration: none;
    color: #eee;
}
p{
   font-size:1.8em;
   font-weight:300; 
}
img{
    width:100%;
}

/* reusable */
.container{
    width:90%;
    max-width: 800vh;
    height:100%;
    margin:0 auto;
    position:relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 3vh;
}

.section-heading h1{
    font-size: 8vh;
    color: rgba(255,255,255, 0.5);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-top: 8vh;
    margin-bottom:4vh;
}


.section-heading h1::before,
.section-heading h1::after
{
    content:"";
    position:absolute;
    bottom:1vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}


.section-heading h1::before{
    width:25vw;
    height: 3px;
    border-radius:.8rem;
}

.section-heading h1::after{
    /* width:1.5rem;
    height: 1.5rem; */
    border-radius:100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight:300;
}

.has-margin-right{
    margin-right:6vw;
}


/* header */
header{
    width:100%;;
    height: 100vh;
    /* margin-bottom: 11vh; */
}
.top-nav{
    width:100%;
    height: 7vh;
    position: fixed;
    top: -140vh;
    z-index: 50;
    background: rgba(0,0,0,0.75);
    border-bottom-right-radius:100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

li{
    margin: 0 2vw;
}


.nav-link{
    font-family:'Dancing Script';
    font-size: 2rem;
    padding:0.4vw;
}

.nav-link:hover,
.nav-link:focus{
    background:linear-gradient(to top, #661616, #a84e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position:absolute;
    top: 2vh;
    right: 0vw;
    width:5vw;
    height:3vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor: pointer;
    z-index: 1500;
    transition:transform 650ms ease-out;
}

.bar{
    /* background: linear-gradient( to right,  #661616, #a84e4e); */
    background: linear-gradient( to top,  #dad6d6, #3b3939);
    width:40%;
    height:4px;
    border-radius: .8rem;
}

.landing-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    text-align:center;
    z-index: 1;
}

.landing-text h1{
    font-size:10vh;
    font-family:"Jockey One", sans-serif;
    background:linear-gradient(to top, #661616, #a84e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:1vh 5vw;
    user-select: none;   
}

.landing-text h6{
    /* font-family:'Dancing Script'; */
    font-size: 4vh;
    font-weight: 300;
}

/* About */
.about{
    margin-top:16vh;
    padding:16vh 0 0 0;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h6-text{
    font-family:"Do Hyeon"
}

.h1-text{
    font-family:"Carter One";
    /* padding-bottom:3vh; */
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom:10vh;
}

.about-heading h1{
    font-size: 13vh;
    opacity: 0.5;
}

.about-heading h6{
    font-size:2rem;
    font-weight:300;
}

.heading-text{
    margin:0 3vh 0 4.5vw;
    font-family:"Merienda One";
    font-size: 1.2rem;
    text-align: justify;
}

.CC{
    text-align: center;
  /* text-justify: inter-word; */
  margin-top: 1.8rem;
}

.BCC{
    text-align: center;
    /* text-justify: inter-word; */
    /* margin-top: 0.7rem; */
}

.profile-img{
    flex: 1;
    padding-left: 5vh;
    border-radius:50%;
    /* margin-right: 5vw; */
    /* margin-bottom: 11vh; */
}

.about-details{
    flex: 1;   
}

.social-media{
    margin:3vh 0 5vh 5vh;
}

.social-media i{
    font-size:6vh;
    transition: color 650ms;
}

.fa-facebook{
    background-color:#fff;
    /* transform:scale(1.4); */
    border-radius:5px;
    width: 5.4vh;
    height: 5.4vh;
}

.fa-facebook:hover{
    color:#4267b2;
    transform: scale(1.1);
}

.fa-linkedin:hover{
    color:#0179AD;
    transform: scale(1.1);
}
.fa-github:hover{
    color:#fff;
    transform: scale(1.1);
}

.fa-instagram:hover{
    background:linear-gradient(#91206b, #c46812, #72375d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}

.fa-pinterest-square:hover{
    background: #CC0000;
    transform: scale(1.1);
}

/* services */
.services{
    margin-top:0;
    padding-top:2vh;
}
.my-skills{
    /* margin-top:3vh; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-gap: 2.5rem;
    text-align:center;
}

.skill{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:1.2vw 1vh;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing:2px;
    margin: 0.6vh -2px 2vw 0;
}

.icon-container{
    width: 10vw;
    height: 21vh;
    background:linear-gradient(315deg, #ff0057,#e64a19);
    transform:skew(2deg,2deg);
    background-color: #060c21;
    margin-bottom:5vh;
    display:flex;
    /* transform:rotate(45deg); */
}

.icon-container i{
    color: rgb(255, 255, 255);
    font-size:4.5vw;
    margin:auto;
    /* transform:rotate(-45deg); */
}

.icon-container:before{
    content:'';
    position:absolute;    
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    /* background:linear-gradient(315deg, #ff0057,#e64a19); */
    background:linear-gradient(250deg, #e91e63,#5d02ff);
    /* background:linear-gradient(315deg, #ff0000, #ffc107); */
    z-index: -1;
    transform:skew(2deg, 2deg)
}
.cont{
    width: 10vw;
    height: 21vh;
    background:url("./images/background1.jpg") no-repeat center fixed;
    margin-bottom:2vh;
    display:flex;
}

/* tech skills */


.tech-container{
    background: rgba(255, 255, 255, 0.02);
    margin-top: 6vh;
    padding-top:1vh;

}

.tech-section-heading{
        font-size: 4vh;
        color: rgba(255,255,255, 0.5);
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        margin-bottom:1vh;
        margin-top: 1vh;
    }

.tech-section-heading h1::before,
.tech-section-heading h1::after
{
    content:"";
    position:absolute;
    bottom:-.5rem;
    left: 50%;
    font-size: 4rem;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.75);
}

.tech-section-heading h1::before{
    width:15rem;
    height: 3px;
    border-radius:.8rem;
}

.tech-section-heading h1::after{
    /* width:1.5rem;
    height: 1.5rem; */
    border-radius:100%;
    bottom: -1rem;
}

.tech-skills{
    margin-top:10rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    grid-gap: 2.5rem;
    text-align:center;
}

.tech-skill{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.tech-skill h1{
    text-transform: uppercase;
    letter-spacing:2px;
    font-size: 5rem;
    margin: 2rem -2px 2rem 2rem;
}


.tech-icon .soft{
    width: 10rem;
    height: 10rem;
    justify-content:center;
    background:url("./images/background1.jpg") no-repeat center fixed;
    margin-bottom:2rem;
    display:flex;
}
/* 
.soft li{
    list-style: none;
    color: rgb(216, 56, 56);
} */



/* portfolio */
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21vh;

}

.portfolio-item:last-child{
    margin-bottom: 0;
}
/* 
.profile-img{
    width:50rem;
    flex: 1;
} */

.portfolio-description{
    flex: 1;
}

.portfolio-img{
    /* height: 22em;
    width:22em; */
    max-width: 25vw;
    max-height: 28vh;
}

.portfolio-description h1{
    font-size:13vh;
    /* text-transform: uppercase; */
    font-weight:300;
    margin: 12vh 0;
    opacity: 0.5;
}

.portfolio-description h6{
    font-size:4vh;
    text-transform: uppercase;
    font-weight:300;
    margin:0 2vh 0 0;
    /* opacity: 0.8; */
    color: #e44040f8;

}

.portfolio-description .heading-text{
    font-size:3vh;
    margin:0 0 3vh 0;
}
.hover{
    transition: transform 1s; 
    margin-top: 2vh;
}
.hover:hover{
    transform: scale(1.2)
}
.portfolio-description .cta{
    display: inline-block;
    margin-top: 1vh;
    /* font-size:1vh; */
    text-transform: uppercase;
    color: rgba(255,255,255, 0.5);
    transition:color 650ms;
}

.portfolio-description .cta:hover{
    color: #2f67cd;
}

.portfolio .cta h5{
    font-size: 2vh;
}


/* timeline */
.timeline{
    margin-left: 3vh;
   
}
.experience{
    padding-top: 0.7vh;
}
.timeline ul{
    border-left: 4px solid #a33327;
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    position: relative;
    padding:3.5vh;
    list-style: none;
    text-align: left;
    width: 80%;
}

.timeline h1{
    font-size:4vh;
    text-transform: uppercase;
    font-weight:300;
    /* margin-bottom:1rem; */
    opacity: .5;
}

.timeline p{
    font-size:2.4vh;
    margin-bottom:2vh;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom:3vh;
    padding-bottom:3vh;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom:0;
    margin-bottom:0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content:attr(data-date);
    left: -53vh;
    text-align: right;
    min-width: 12vw;
    font-size: 2vw;
}

.timeline .date::after{
    content:'';
    box-shadow: 0 0 0 4px #503b48;
    border-radius: 100%; 
    left: -5.1vw;
    height: 2vw;
    width:2vw;
    background-color: #313534;
}

/* contact */
.contact{
    margin: 0 1vh;
    background: rgba(255, 255, 255, 0.02);
    padding:17vh 3vh 36vh 5vh;
}

.info{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh,2fr));
    grid-gap:2vw;
}

.info-title{
    text-align:center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 4vh;
    border-radius: 15px;
}

.info-title:hover{
    /* transform: scale(1.2); */
    background-color: rgba(109, 45, 45, 0.6);
}

.i-t{
    background: rgb(129, 32, 32);
    padding: 2vh;
    margin-bottom: 4vh;
    border-radius: 15px;
}
/* footer */
.copyright{
    width: 100%;
    text-align: center;
    background-color: #812020;
    padding: 1.5vh 9vh;;
    position: relative;
}

.up{
    position: absolute;
    width: 9vh;
    height: 9vh;
    background-color: #eee;
    top: -6vh;
    left: 200vh;
    border-radius: 100%;
    display: flex;
    animation:pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size:4vh;
    margin:auto;
}

.copyright p{
    font-size:2vh ;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(77, 15, 15, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(77, 15, 15, 0.99);
    }
}

/* media queries */

@media screen and (max-width:768px){
    body{
        background: url("./images/background1.jpg") no-repeat center fixed;
        /* background:#D4A27F; */
        background-size:cover;
    }

    .container .profile-img{
        border-radius:75%
    }
    .landing-text h1{
        font-size:7vh;
    }

    .landing-text h6{
        font-size:4.5vh;
    }

    .nav-list{
        flex-direction:row;
    }

    .top-nav{
        width:100%;
        height: 6vh;
        position: fixed;
        margin-bottom: 5vh;
        top: -240vh;
        z-index: 50;
        background: rgba(0,0,0,0.75);
        border-bottom-right-radius:100%;
        border-bottom-left-radius: 100%;
        transition: all 650ms cubic-bezier(1,0,0,1);
    }

    li{
        margin: 0 1vw;
    }


    .nav-link{
        font-size: 3vh;
    }

    .about-heading h1{
        font-size:10vh;
    }
    .heading-text{
        font-size:2vh;
    }
    .profile-img{
        width: 40%;
        height: 40%;
        border-radius:50%

    }
    .fa-facebook{
        width: 5.5vh;
        height: 5.5vh;
    }

    .social-media {
        margin: 3vh 0 4vh 3vh;
    }
    
.tech-skills{
    margin-top:10vh;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-gap: 1vh;
    text-align:center;
}

/* .tech-skill .tech-icon-container {
    width: 16vw;
    height: 16vh;
    margin-bottom: 2rem;
    display: flex;
} */
.contact .section-heading h1{
    font-size:6vh
}
.info-title {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 4vh;
    border-radius: 15px;
    font-size: 1.5vh;
}
.up{
    position: absolute;
    width: 6vh;
    height: 6vh;
    background-color: #eee;
    top: -2vh;
    left: 88vh;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}
.timeline{
    margin-left: 3vh; 
}
.experience{
    padding-top: 0.7vh;
}


.timeline h1{
    font-size:3vh;
    text-transform: uppercase;
    font-weight:300;
    /* margin-bottom:1rem; */
    opacity: .5;
}

.timeline p{
    font-size:2vh;
    margin-bottom:2vh;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom:3vh;
    padding-bottom:3vh;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom:0;
    margin-bottom:0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    left: -6vh;
    transform: translateY(-50%);
}

.timeline .date::before{
    content:attr(data-date);
    left: -24vh;
    text-align: right;
    min-width: 12vw;
    font-size: 3vw;
}
.icon-container {
    width: 8vw;
    height: 8vw;
    background: linear-gradient(315deg, #ff0057,#e64a19);
    transform: skew(2deg,2deg);
    background-color: #060c21;
    margin-bottom: 5vh;
    display: flex;
}
.icon-container i{
    color: rgb(255, 255, 255);
    font-size:4vw;
    margin:auto;
    /* transform:rotate(-45deg); */
}

.cont{
    width: 10vw;
    height: 8vw;
    margin-bottom:2vh;
    display:flex;
}

.skill h1 {
    font-size:2vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0.6vh -2px 2vw 0;
}
.my-skills{
    grid-gap: 2vh;
}
.services {
    margin-top: 0;
    padding-top: 3.7vh;
}

}

@media screen and (max-width:600px){
.landing-text h1{
        font-size:7vh;
    }

    .landing-text h6{
        font-size:3.5vh;
    }

    .nav-list{
        flex-direction:column
    }

    .top-nav{
        width:100%;
        height: 116vh;
        position: fixed;
        margin-bottom: 5vh;
        top: -240vh;
        z-index: 50;
        background: rgba(0,0,0,1);
        border-bottom-right-radius:100%;
        border-bottom-left-radius: 100%;
        transition: all 650ms cubic-bezier(1,0,0,1);
    }

    li{
        margin:1vw 0;
    }


    .nav-link{
        font-size: 3vh;
    }

    .about-heading h1{
        font-size:6vh;
    }
    .about-heading h6{
        font-size:2vh;
        display:none;
    }
    .heading-text{
        margin-top: 1vh;
        font-size:1.8vh;
    }
    .profile-img{
        width: 48vh;
        height: 57vw;
        margin-left: 23vh;
        border-radius: 50%;
    }
    .fa-facebook{
        width: 5.5vh;
        height: 5.5vh;
    }

    .social-media {
        margin: 3vh 0 4vh 3vh;
    }
    
    .about .container{
        display:grid;
        grid: row;
    }

.social-media .nav-list{
    flex-direction:row;
}
.social-media .nav-list li{
    padding:4vh
}
.tech-skills{
    margin-top:10vh;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-gap: 1vh;
    text-align:center;
}

/* .tech-skill .tech-icon-container {
    width: 16vw;
    height: 16vh;
    margin-bottom: 2rem;
    display: flex;
} */
.contact .section-heading h1{
    font-size:6vh
}
.info-title {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding-bottom: 4vh;
    border-radius: 15px;
    font-size: 1.5vh;
}
.up{
    position: absolute;
    width: 6vh;
    height: 6vh;
    background-color: #eee;
    top: -2vh;
    left: 88vh;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}
.timeline{
    margin-left: 3vh; 
}
.experience{
    padding-top: 0.7vh;
}


.timeline h1{
    font-size:3vh;
    text-transform: uppercase;
    font-weight:300;
    /* margin-bottom:1rem; */
    opacity: .5;
}

.timeline p{
    font-size:2vh;
    margin-bottom:2vh;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom:3vh;
    padding-bottom:3vh;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom:0;
    margin-bottom:0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    left: -5vh;
    transform: translateY(-50%);
}

.timeline .date::before{
    content:attr(data-date);
    left: -24vh;
    text-align: right;
    min-width: 12vw;
    font-size: 3vw;
}
.icon-container {
    width: 8vw;
    height: 8vw;
    background: linear-gradient(315deg, #ff0057,#e64a19);
    transform: skew(2deg,2deg);
    background-color: #060c21;
    margin-bottom: 5vh;
    display: flex;
}
.icon-container i{
    color: rgb(255, 255, 255);
    font-size:4vw;
    margin:auto;
    /* transform:rotate(-45deg); */
}

.cont{
    width: 10vw;
    height: 8vw;
    margin-bottom:2vh;
    display:flex;
}

.skill h1 {
    font-size:1.8vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0.6vh -2px 2vw 0;
}
.my-skills{
    display: flex;
    flex-direction: column;
}
.services {
    margin-top: -4vh;
    padding-top: 0.7vh;
}
}

@media screen and (max-width:360px){
    .landing-text h1{
            font-size:6vh;
        }
    
        .landing-text h6{
            font-size:2.5vh;
        }
    
        .nav-list{
            flex-direction:column
        }
        .landing-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            z-index: 1;
            margin: 0;
        }
        .button1{
            padding:1vh 3vh;
            margin: 4vh 1vh;
        }
        .menu-toggler {
            position: absolute;
            top: 4vh;
            right: -3vw;
            width: 16vw;
            height: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1500;
            transition: transform 650ms ease-out;
        }
        .top-nav{
            width:100%;
            height: 102vh;
            position: fixed;
            margin-bottom: 5vh;
            margin-left: -6vh;
            top: -240vh;
            z-index: 50;
            background: rgba(0,0,0,1);
            border-bottom-right-radius:100%;
            border-bottom-left-radius: 100%;
            transition: all 650ms cubic-bezier(1,0,0,1);
        }
    .my-skills .heading-text{
        margin-top: 0.8vh;
        font-size: 1.8vh;
        margin-left: 3.5vh;
        width: 40vh;
    }
        li{
            /* margin:-3vw -10px; */
        }
    
    #mm{
        font-size:4vh;
    }
    #mm::before{
        margin-top:4vh;
    }
        .nav-link{
            font-size: 3vh;
        }
    
        .about-heading h1{
            font-size:6vh;
            margin-left: 6vh;
        }
        .about-heading h6{
            font-size:2vh;
            display:none;
        }
        .heading-text{
            margin-top: 0.8vh;
            font-size:1.8vh;
            margin-left: -7vh;
            width:45vh;
        }
        .about {
            margin-top: 9vh;
            padding: 18vh 6vh 0 0;
        }
        .profile-img{
            width: 39vh;
            height: 57vw;
            margin-left: 16vh;
            border-radius: 50%;
            margin-top: -10vh;
        }
        .fa-facebook{
            width: 5.5vh;
            height: 5.5vh;
        }
    
        .social-media {
            margin: 3vh 0 4vh 3vh;
        }
        
        .about .container{
            display:grid;
            grid: row;
        }
    
    .social-media .nav-list{
        flex-direction:row;
        margin-left: 2vh;
    }
    .social-media .nav-list li{
        padding:1vh
    }
    .tech-skills{
        margin-top:10vh;
        display:grid;
        grid-template-columns:auto auto auto;
        grid-gap: 1vh;
        text-align:center;
    }
    
    /* .tech-skill .tech-icon-container {
        width: 16vw;
        height: 16vh;
        margin-bottom: 2rem;
        display: flex;
    } */
    .contact .section-heading h1{
        font-size:6vh
    }
    .i-t {
        background: rgb(129, 32, 32);
        padding: 2vh;
        margin-bottom: 4vh;
        border-radius: 6px;
    }
    .info-title {
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        padding-bottom: 4vh;
        border-radius: 4px;
        font-size: 2.5vh;
        margin-bottom: 3vh;
    }
    .contact {
        margin: 0 1vh;
        background: rgba(255, 255, 255, 0.02);
        padding: 17vh 3vh 15vh 5vh;
    }
    .about-details .heading-text {
        margin-top: 0.8vh;
        font-size: 1.8vh;
        margin-left: 9vh;
        width: 45vh;
    }
    .up{
        position: absolute;
        width: 4vh;
        height: 4vh;
        background-color: #eee;
        top: -1vh;
        left: 52vh;
        border-radius: 100%;
        display: flex;
        animation: pulse 2s infinite;
    }
    .up i {
        color: #16162d;
        font-size: 3vh;
        margin: auto;
    }
    .timeline{
        margin-left: 3vh; 
    }
    .experience{
        padding-top: 0.7vh;
    }
    
    
    .timeline h1{
        font-size:3vh;
        text-transform: uppercase;
        font-weight:300;
        /* margin-bottom:1rem; */
        opacity: .5;
    }
    
    .timeline p{
        font-size:1.8vh;
        margin-bottom:2vh;
    }
    
    .timeline .date{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom:3vh;
        padding-bottom:3vh;
        position: relative;
    }
    
    .timeline .date:last-of-type{
        padding-bottom:0;
        margin-bottom:0;
        border: none;
    }
    
    .timeline .date::before,
    .timeline .date::after{
        position: absolute;
        display: block;
        top: 50%;
        left: -3.5vh;
        transform: translateY(-50%);
    }
    
    .timeline .date::before{
        content:attr(data-date);
        left: -14vh;
        text-align: right;
        min-width: 12vw;
        font-size: 3vw;
    }
    #services{
        margin-top:-3.2vh;
        padding-top:5vh;
    }
    .section-heading h1 {
        font-size: 6vh
    }
    .section-heading h6 {
        display: none;
    }
    .date .heading-text{
        margin:0;
        max-width:32vh;
    }
    .timeline ul {
        border-left: 4px solid #a33327;
        border-radius: .8rem;
        background-color: rgba(0,0,0,0.6);
        margin: 10vh 2vh;
        position: relative;
        padding: 2.5vh;
        list-style: none;
        text-align: left;
        width: 90%;
    }

    .portfolio-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 21vh;
    }

    .portfolio-description h6 {
        font-size: 2vh;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 2vh 0 0;
        /* opacity: 0.8; */
        color: #e44040f8;
    }
    .tech-services{
        padding: 1vh 6% 8% 6%;
        margin-bottom: 7vh;
    }
    .info {
        display: flex;
        /* grid-template-columns: repeat(auto-fit, minmax(10vh,2fr)); */
        grid-gap: 2vw;
        flex-direction: column;
    }
    .contact .container {
        margin: -22vw 1vh;
        background: rgba(255, 255, 255, 0.02);
        padding: 0vh 3vh 5vh 5vh;
        display: flex;
        flex-direction: column;
    }

    .hover {
        transition: transform 1s;
        margin: 1vh 0vw 6vw 0;
    }
    .has-margin-right {
        margin-right: 0vw;
    }
    .portfolio-description .heading-text {
        font-size: 2vh;
        margin: 0 0 2vh 0;
    }
    .portfolio .cta h5 {
        font-size: 1.5vh;
    }

    .portfolio .h1-text{
        font-size:4.5vh
    }
    .experience .section-heading h1::before {
        display:none;
    }
    .section-heading h1::before {
        width: 25vw;
        height: 3px;
        border-radius: .8rem;
    }
    .icon-container {
        width: 8vw;
        height: 8vw;
        background: linear-gradient(315deg, #ff0057,#e64a19);
        transform: skew(2deg,2deg);
        background-color: #060c21;
        margin: 2vh 0vh;
        display: flex;    
    }
    .icon-container i{
        color: rgb(255, 255, 255);
        font-size:4vw;
        margin:auto;
        /* transform:rotate(-45deg); */
    }
    
    .cont{
        width: 10vw;
        height: 8vw;
        margin-bottom:2vh;
        display:flex;
    }
    
    .skill h1 {
        font-size:1.8vh;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0.6vh -2px 2vw 0;
    }
    .my-skills{
        display: flex;
        flex-direction: column;
    }
    .services {
        margin-top: -4vh;
        padding-top: 0.7vh;
    }
    
    
    
    }
    
